<% layout("/layouts/boilerplat.ejs")%>

    <body>
        <h3>All Lists</h3>
<div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1" >
        <%for (const list of data) {%>
            <!-- <h5><a href="/listing/<%=list._id%>"><%= list.title %></a></h5>  -->
            <a id="listingLink" href="/listing/<%= list._id %>"><div class="card col listing-card">
                <img src="<%=list.image.url%>" class="card-img-top" alt="listimg" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text"><b><%= list.title %></b>
                    <br>
                    &#8377; <%= list.price.toLocaleString("en-IN") %> /night
                </p>
                </div>
            </div></a>
            <%}%>
            </div>
</body>